* {
  box-sizing: border-box;
}

a {
  color: black;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  color: blue; /* Change color when hovering */
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 60px;
  text-align: center;
  background: #000000;
  background-image: url('../media/2024_YR4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  text-shadow: 12px 12px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.header h1{
  font-size: 48px;
}

button {
  background-color: #333; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
}

button:hover {
 background-color: #ddd;
 color: black;
}

.note {
  text-align: center;
  font-size: 24px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  font-size: 16px;
}

/* Navigaatiopalkki */
.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Flexbox-rivit ja -sarakkeet */
.row {  
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 70%;
  background-color: #f1f1f1;
  padding: 20px;
}

.side {
  flex: 30%;
  background-color: white;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

button:hover {
  background-color: #ddd;
  color: black;
 }